@media screen and (max-device-width: 320px) {
    .mainframe{
        top: 15px;
        width: 70%;
    }
    .title-mainframe{
        font-size: medium;
    }
    .title{
        width: 20em;
    }
    .config-buttons{
        width: 20em;
        flex-direction: column;
    }
    .configs{
        width: 20em;

    }
    .meniu{
        width: 20em;
    }
    .waveWrapper .waveWrapperInner .wave
    {
        width: 0%;
        visibility: hidden;
        
        
    }
    
   
}

@media screen and (min-device-width: 321px) and (max-device-width: 499px){
    .meniu{
       width: 100%;
       
    }
    .boxes-menu{
        width: 100%;
    }
    
    .config-buttons{
       
        width: 100%;
        flex-direction: column;
    }
    .mainframe{
        top:10px;
        width: 90%;
    }
    .configs{
        width: 20em;

    }
    
}

@media screen and (min-device-width: 500px) and (max-device-width: 660px){
    
    .meniu{
        width: 100%;
        
     }
     .boxes-menu{
         width: 100%;
     }
     
     .config-buttons{
        
         width: 100%;
         flex-direction: column;
     }
     .mainframe{
         top:10px;
     }
     .configs{
         width: 20em;
 
     }
    
}