<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <title>Managing Water</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="../public/styles/media-style.css">
    <link rel="stylesheet" href="../public/styles/menu-title.css">
    <link rel="stylesheet" href="../public/styles/waves.css">
    <link rel="stylesheet" href="../public/styles/about-page.css">

</head>

<body>

    <div class="page">
        <div class="title">

            <div class="textTitlu"><a href="./home.html">MANAGING WATER</a></div>

        </div>

        <div class="config-buttons">
            <div class="user">

                <button title="Config1" onclick="document.location='./about-page.html'" ><img src="../diagrams/calendar.png"><a >About</a></button>
                <button title="Config2"><img src="../diagrams/statistics.png"><a>Statistics</a></button>
                <button onclick="userPage()"> <img src="../diagrams/userIcon.png"><a>User</a></button>

            </div>
        </div>

       
        <div class="flex-container">
           
            <div id="main" class="mainframe">
                <div class="title-mainframe"> World water day
                </div>
                <div id="details" class="details">
                    <div id="detailsHidro1" class="details-hidro1">
                        World Water Day is held annually on <b><b>22 March</b></b> as a means of focusing attention on the importance
                        of freshwater and advocating form the sustainable management of freshwater
                        resources.

                    </div>
                    <div id="clockdiv">
                        <div>
                          <span id="day" class="days"></span>
                          <div class="smalltext">Days</div>
                        </div>
                        <div>
                          <span id="hour" class="hours"></span>
                          <div class="smalltext">Hours</div>
                        </div>
                        <div>
                          <span id="minutes" class="minutes"></span>
                          <div class="smalltext">Minutes</div>
                        </div>
                        <div>
                          <span id="seconds" class="seconds"></span>
                          <div class="smalltext">Seconds</div>
                        </div>
                </div>

            </div>
        </div>




        <div class="waveWrapper waveAnimation">
            <div class="waveWrapperInner bgTop">
                <div class="wave waveTop" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')"></div>
            </div>
            <div class="waveWrapperInner bgMiddle">
                <div class="wave waveMiddle" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')"></div>
            </div>
            <div class="waveWrapperInner bgBottom">
                <div class="wave waveBottom" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')"></div>
            </div>
        </div>



    </div>

    <script src="../public/scripts/meniu.js"></script>
    <script src="../public/scripts/button-functions.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="module" src="../public/scripts/global-events.js"></script>
    <script src="../public/scripts/aboutPage.js"></script>

</body>

</html>