<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="../public/styles/menu-title.css">
    <link rel="stylesheet" href="../public/styles/media-style.css">
    <link rel="stylesheet" href="../public/styles/waves.css">
    <link rel="stylesheet" href="../public/styles/register.css">
</head>

<body>

    <div class="page">
        <div class="title">
            <div class="textTitlu">MANAGING WATER</a>
            </div>
        </div>

        <div class="flex-container">

            <div id="main" class="mainframe">
                <div class="title-mainframe">REGISTER
                    <div id="textError">
                        <span id="textError1" style="color: red; font-size: x-small; display:none; "> password must be at least 8 characters</span>
                        <span id="textError2" style="color: red; font-size: x-small; display:none; "> invalid email address</span>
                        <span id="textError3" style="color: red; font-size: x-small; display:none; "> please insert the same password</span>
                        <span id="textSuccess" style="color: limegreen; font-size: x-small; display:none; "> Register successful </span>
                        <span id="textErrorRegister" style="color: red; font-size: x-small; display:none; "></span>
                    </div>
                    <div id="fieldsMain" class="fields">
                            <label for="email"> Email: </label><br>
                            <input id="email" type="text" placeholder="email"><br>
                            <label for="password1"> Password </label><br>
                            <input id="password1" type="password" placeholder="password(8 characters minimum)"><br>
                            <label for="password1"> Password </label><br>
                            <input id="password2" type="password" placeholder="password"><br>

                            <input type="button" id="registerBtn" value="CONNECT">
                    </div>
                </div>
            </div>
        </div>

        <div class="waveWrapper waveAnimation">
            <div class="waveWrapperInner bgTop">
                <div class="wave waveTop" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')"></div>
            </div>
            <div class="waveWrapperInner bgMiddle">
                <div class="wave waveMiddle" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')"></div>
            </div>
            <div class="waveWrapperInner bgBottom">
                <div class="wave waveBottom" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')"></div>
            </div>
        </div>


    </div>

    <script src="../public/scripts/meniu.js"></script>
    <script src="../public/scripts/button-functions.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="module" src="../public/scripts/register.js"></script>


</body>

</html>