.mainframe{
    background-color:#0f39617e; 
    max-height: 40em;
    font-family: 'Rubik';
    letter-spacing: 2px;
    
}
.title-mainframe
{
    font-family:'Rubik';
}
.hidro-list{
    overflow: auto;
    display: inline-block;
    flex-direction: column;
    overflow-x: hidden;
    height: 17em;
}

/* /* width / */
::-webkit-scrollbar {
  width: 10px;
}

/* / Track / */
::-webkit-scrollbar-track {
  
  background-image: linear-gradient(to right,#23252b70,#23252bae);
}

/* / Handle */ 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: linear-gradient( #B5F0F0,#A0BEF8);
    outline: 2px solid #23252B;
  }
.hidro-one{
    margin: 1.2em;
    width: 100%;
    min-width: 15em;
    background-color: #0f3961;
    background-image: linear-gradient(#0f3961,#2e608f);
    height: 4.9em;
    max-height: 5em;
    color:#76b865;
    border-radius: 5%;
    display: flex;
    flex-direction: row;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.34);
    
}
.hidro-list>a{
    text-decoration: none;
}
.white-box{
    max-width: 5em;
    max-height: 5em;
    background-color: #f5edf0;
    background-image: linear-gradient(#ebe5e0,#ffffff,#d0c9cb);
    display: flex;
    align-self: center;
    align-items: center;
    justify-content:center;
    padding: 19px;
    margin: 0px;
    font-size:xx-large;
    color:black;
    font-family:"Rubik";
    font-weight: bold;
    border-style: none solid groove none;
    border-color: #cdba70;

}
.text-hidro{
    display: flex;
    flex-direction: column;
    margin:10px auto;

}
.name-hidro{
    font-size: large;


}
.details-hidro{
    margin:10px auto;
    font-family: 'Overpass';
}