.mainframe {
    z-index: 20;
    position: relative;
    margin: auto;
    width:70%;
    height: 90%;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content:center;
    border-radius: 5%;
    background-color: #0f3961d1;
    
}
.title-mainframe{
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
    font-family: 'Rubik';
    font-weight: bolder;
    font-size: 2em;
    

}
.fields{
    z-index: 20;
    display: flex;
    width: 60%;
    flex-direction: column;
    align-items: center;
    font-size: small;
    font-family: 'Overpass';
    
}
.title-mainframe>.fields>form>input{
    z-index: 20;
    background-color: #659dbd ;
    padding: 3%;
    width: 13em;
    margin: 5% 0;
    color: #f5edf0;
    border-style: none;
    border-radius: 5%;
    
}
.title-mainframe>.fields>form>input:hover{
    background-color: #DEE4EB;
    
}
.title-mainframe>.fields>form>input[type=text]
{
    color:#f5edf0;
}
.title-mainframe>.fields>form>input[type=password]
{
    color:black;
}
.title-mainframe>.fields>form>input[type=button]
{
    background-color:#76b865; 
    width: 14em;
    font-family: 'Rubik';
}

.title-mainframe>.fields>input:active{
    background-color: bisque;
   
}






