.mainframe {
    z-index: 20;
    position: relative;
    margin: auto;
    width:70%;
    height: 90%;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content:center;
    border-radius: 5%;
    background-color: #0f3961d1;
    
}
.title-mainframe{
    display: flex;
    width: 90%;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 2em;
    

}
.fields{
    z-index: 20;
    display: flex;
    width: 60%;
    flex-direction: column;
    align-items: center;
    
}
.title-mainframe>.fields>input{
    z-index: 20;
    background-color: #659dbd ;
    padding: 3%;
    width: 80%;
    margin: 5% 0;
    color: #f5edf0;
    border-style: none;
    border-radius: 5%;
    
}
.title-mainframe>.fields>input:hover{
    background-color: #DEE4EB;
    
}
.title-mainframe>.fields>input[type=text]
{
    color:#f5edf0;
}
.title-mainframe>.fields>input[type=password]
{
    color:black;
}
.title-mainframe>.fields>input[type=button]
{
    background-color:#76b865;
}
.title-mainframe>.fields>input[type=text]:hover
{
   width: 90%;
}

.title-mainframe>.fields>input:active{
    background-color: bisque;
}






