.mainframe {
    background-color: #0f39617e;
    background-image: url("../../diagrams/backgr3.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 50% 0;
    max-height: 40em;
    font-family: 'Rubik';
    letter-spacing: 2px;
}

.title-mainframe {
    font-size: 2.5em;
    font-family: 'Rubik';
    display: flex;
    flex-direction: row;
}

#button_plus {
    width: 35px;
    height: 35px;
    background: #a0bdf844;
    cursor: pointer;
    border: 2px solid #e3eef2;
    color: #e3eef2;
    justify-content: center;
    font-size: 14px;
}

#button_plus>a {
    font-size: 25px;
}

#button_plus:hover {
    color: #fff;
    background-color: #095776;
    transition: 0.2s;
}

.hidro-list {
    width: 90%;
    overflow: auto;
    display: inline-block;
    flex-direction: column;
    overflow-x: hidden;
    height: 17em;
}


/* /* width / */

::-webkit-scrollbar {
    width: 10px;
}


/* / Track / */

::-webkit-scrollbar-track {
    background-image: linear-gradient(to right, #23252b70, #23252bae);
}


/* / Handle */

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: linear-gradient( #B5F0F0, #A0BEF8);
    outline: 2px solid #23252B;
}

.hidro-one {
    margin: 1.2em;
    text-decoration: none;
    width: 80%;
    min-width: 15em;
    background-color: #0f3961;
    background-image: linear-gradient(#0f3961, #2e608f);
    height: 4.9em;
    max-height: 5em;
    color: #76b865;
    border-radius: 5%;
    display: flex;
    flex-direction: row;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.34);
}

.hidro-list>div>a {
    text-decoration: none;
}

.white-box {
    max-width: 5em;
    max-height: 5em;
    background-color: #f5edf0;
    background-image: linear-gradient(#ebe5e0, #ffffff, #d0c9cb);
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    padding: 19px;
    margin: 0px;
    font-size: xx-large;
    color: black;
    font-family: "Rubik";
    font-weight: bold;
    border-style: none solid groove none;
    border-color: #cdba70;
    text-decoration: none;
}

.text-hidro {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    text-align: center;
    text-decoration: none;
}

.name-hidro {
    font-size: large;
    text-align: center;
    text-decoration: none;
}

.details-hidro {
    margin: 10px auto;
    font-family: 'Overpass';
    font-size: 12px;
    text-decoration: none;
}

.trash {
    background: #ff6873;
    width: 4vw;
    height: 3vw;
    display: inline-block;
    margin-left: 90%;
    top: -65px;
    position: relative;
    text-decoration: none;

    -webkit-border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.trash span {
    position: absolute;
    width: 4.6vw;
    height: 1vw;
    background: #ff6873;
    top: -1.2vw;
    left: -0.5vw;
    right: -0.5vw;
    text-decoration: none;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform: rotate(0deg);
    transition: transform 250ms;
    transform-origin: 19% 100%;
}

.trash i {
    position: relative;
    width: 0.5vw;
    height: 1.5vw;
    background: #fff;
    display: block;
    margin: 2px auto;
    border-radius: 5px;
    text-decoration: none;
}

.trash i:after {
    content: '';
    width: 0.5vw;
    height: 1.5vw;
    background: #fff;
    position: absolute;
    left: -1.3vw;
    border-radius: 5px;
}

.trash i:before {
    content: '';
    width: 0.5vw;
    height: 1.5vw;
    background: #fff;
    position: absolute;
    right: -1.3vw;
    border-radius: 5px;
}

.trash:hover span {
    transform: rotate(-45deg);
    transition: transform 250ms;
}

@media screen and (max-device-width: 320px) {
    .hidro-one {
        width: 100%;
    }
    .trash {
        top: 0;
    }
}

@media screen and (min-device-width: 321px) and (max-device-width: 499px) {
    .hidro-one {
        width: 100%;
    }
    .trash {
        top: 0;
    }
}

@media screen and (min-device-width: 500px) and (max-device-width: 660px) {
    .hidro-one {
        width: 100%;
    }
    .trash {
        top: 0;
    }
}